# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform.tfvars
terraform/*.tfvars

# Node
node_modules/

# OS
.DS_Store
Thumbs.db
github-ci-key.json
