apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-app
  namespace: kambista-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello
  template:
    metadata:
      labels:
        app: hello
    spec:
      containers:
      - name: hello
        image: us-central1-docker.pkg.dev/luminous-style-482114-e5/kambista-repo/hello:1.0
        ports:
        - containerPort: 3000
